<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="XForge.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="QRC_Editoror.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
      <XForge.Properties.Settings>
        <setting name="bin" serializeAs="String">
          <value />
        </setting>
        <setting name="bmp" serializeAs="String">
          <value />
        </setting>
        <setting name="dds" serializeAs="String">
          <value />
        </setting>
        <setting name="dump" serializeAs="String">
          <value />
        </setting>
        <setting name="elf" serializeAs="String">
          <value />
        </setting>
        <setting name="fpo" serializeAs="String">
          <value />
        </setting>
        <setting name="gtf" serializeAs="String">
          <value />
        </setting>
        <setting name="jpg" serializeAs="String">
          <value />
        </setting>
        <setting name="mnu" serializeAs="String">
          <value />
        </setting>
        <setting name="path" serializeAs="String">
          <value />
        </setting>
        <setting name="tga" serializeAs="String">
          <value />
        </setting>
        <setting name="txt" serializeAs="String">
          <value />
        </setting>
        <setting name="vpo" serializeAs="String">
          <value />
        </setting>
        <setting name="DontShow" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="ShowSplash" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="Maximised" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="Minimised" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="Location" serializeAs="String">
          <value>0, 0</value>
        </setting>
        <setting name="Size" serializeAs="String">
          <value>0, 0</value>
        </setting>
        <setting name="FirstRun" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="ini" serializeAs="String">
          <value />
        </setting>
      </XForge.Properties.Settings>
      <QRC_Editoror.Properties.Settings>
        <setting name="bin" serializeAs="String">
          <value />
        </setting>
        <setting name="bmp" serializeAs="String">
          <value />
        </setting>
        <setting name="dds" serializeAs="String">
          <value />
        </setting>
        <setting name="dump" serializeAs="String">
          <value />
        </setting>
        <setting name="elf" serializeAs="String">
          <value />
        </setting>
        <setting name="fpo" serializeAs="String">
          <value />
        </setting>
        <setting name="gtf" serializeAs="String">
          <value />
        </setting>
        <setting name="jpg" serializeAs="String">
          <value />
        </setting>
        <setting name="mnu" serializeAs="String">
          <value />
        </setting>
        <setting name="path" serializeAs="String">
          <value />
        </setting>
        <setting name="tga" serializeAs="String">
          <value />
        </setting>
        <setting name="txt" serializeAs="String">
          <value />
        </setting>
        <setting name="vpo" serializeAs="String">
          <value />
        </setting>
        <setting name="DontShow" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="ShowSplash" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="Maximised" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="Minimised" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="Location" serializeAs="String">
          <value>0, 0</value>
        </setting>
        <setting name="Size" serializeAs="String">
          <value>0, 0</value>
        </setting>
        <setting name="FirstRun" serializeAs="String">
          <value>True</value>
        </setting>
      </QRC_Editoror.Properties.Settings>
    
    </userSettings>
</configuration>